.todo {
    padding-left: 0;
}

.todo li {
    padding: 20px;
    font-size: 18px;
    list-style-type: none;
    display: block;
}

.todo li:not(:last-child) {
    border-bottom: 1px solid #000;
}

.delete{
    text-align: right;
    color: rgb(236, 193, 52);
    font-size: 14px;
}

.reddel{
    margin-left: 18px;
    color: #fc1b0b;
}

.newgreen{
    margin-left: 18px;
    color: rgb(16, 51, 207);
    font-weight: bold;
}



.message{
    text-align: center;
    height: 38px;
    width: 536px;
    border: none;
    outline: none;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 16px 0px 16px 0px;
    border-bottom: 3px solid #ff9307;
    color: #313131;
    font-size: 18px;
    font-weight: 300;
    transition: 0.2s ease-out;
}

.message:focus{
    background-color: rgba(255, 255, 255, 0.85);
}

.add {
    text-decoration: none;
    display: inline-block;
    margin: 10px 20px;
    padding: 10px 30px;
    position: relative;
    border: 2px solid #EB8A3E;
    color: #000000;
    font-size: 14px;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    transition: .4s;
    background-color: #ffe5cd;
}

.add:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    margin: auto;
    border: 2px solid rgba(0, 0, 0, 0);
    transition: .4s;
}

.add:hover:after {
    border-color: #EB8A3E;
    width: calc(100% - 14px);
    height: calc(100% + 14px);
}

.taskTitle{
    text-align: center;
}

.tasks{
    border-radius: 12px;
    width: 655px;
    height: 110px;
    background-color: rgba(243, 115, 17, 0.575);
    margin-top: 10px;
    margin-bottom: 10px;

}



.example-container {
    width: 400px;
    max-width: 100%;
    margin: 0 25px 25px 0;
    display: inline-block;
    vertical-align: top;
  }
  
  .example-list {
    border: solid 1px #ccc;
    min-height: 60px;
    background: white;
    border-radius: 4px;
    overflow: hidden;
    display: block;
  }
  
  .example-box {
    padding: 20px 10px;
    border-bottom: solid 1px #ccc;
    color: rgba(0, 0, 0, 0.87);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    cursor: move;
    background: white;
    font-size: 14px;
  }
  
  .cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                0 8px 10px 1px rgba(0, 0, 0, 0.14),
                0 3px 14px 2px rgba(0, 0, 0, 0.12);
  }
  
  .cdk-drag-placeholder {
    opacity: 0;
  }
  
  .cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
  
  .example-box:last-child {
    border: none;
  }
  
  .example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }