<form action="#" class="create_new_todo" (ngSubmit)="onCreate()"> 
    <div class="NewTaskForm">
        <input type="text" name="title" class="message" placeholder="Enter Your New Task Here ..." [(ngModel)]="title">
        <button [disabled]="!title" class="add">ENTER</button>
    </div>
      
    <div class="todo-container">
        <h2>To do</h2>
      
        <div
          cdkDropList
          #todoList="cdkDropList"
          [cdkDropListData]="todo"
          [cdkDropListConnectedTo]="[processedList, doneList]"
          class="todo-list"
          (cdkDropListDropped)="drop($event)">
          <div class="todo-box" *ngFor="let item of todo" cdkDrag>{{item}} <span style="font-size: 15px; color: rgba(255, 0, 0, 0.747);" (click)="onRemove(todo)">dell</span></div>
        </div>
    </div>
    
    <div class="processed-container">
        <h2>Processed</h2>
    
        <div
            cdkDropList
            #processedList="cdkDropList"
            [cdkDropListData]="processed"
            [cdkDropListConnectedTo]="[todoList, doneList]"
            class="processed-list"
            (cdkDropListDropped)="drop($event)">
            <div class="processed-box" *ngFor="let item of processed" cdkDrag>{{item}} <span style="font-size: 15px; color: rgba(255, 0, 0, 0.747);" (click)="onRemove(todo)">dell</span></div>
        </div>
    </div>
    
    <div class="done-container">
        <h2>DONE</h2>
        
        <div
            cdkDropList
            #doneList="cdkDropList"
            [cdkDropListData]="done"
            [cdkDropListConnectedTo]="[todoList, processedList]"
            class="done-list"
            (cdkDropListDropped)="drop($event)">
            <div class="done-box" *ngFor="let item of done" cdkDrag>{{item}} <span style="font-size: 15px; color: rgba(255, 0, 0, 0.747);" (click)="onRemove(todo)">dell</span></div>
        </div>
    </div>
</form>