* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

app-root {
    display: flex;
    justify-content: center;
    align-items: center top;
    color: #EB8A3E;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  
  body {
    background-image: url('assets/background.jpg');
    background-size: cover;
    background-position: top center;
}

  @keyframes dots {
    50% {
      transform: translateY(-.4rem);
    }
    100% {
      transform: translateY(0);
    }
  }

  .d {
    animation: dots 1.5s ease-out infinite;
  }
  .d-2 {
    animation-delay: .5s;
  }
  .d-3 {
    animation-delay: 1s;
  }